/* ----------------STUDIO-------------------- */
:root {
  --primary-text-color: #212121;
  --logo-color: #000000;
  --background-color: #ffffff;
  --background-color-secondary: #2f303a;
  --accent-color: #2196f3;
  --optional-text-color: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --buttons-bgc: #f5f4fa;
  --background-color-hover: #188ce8;
}

.page {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* --------------------------Site nav--------------------------- */
.nav-site-name {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(26 / 31);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo {
  color: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(14 / 16);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(14 / 16);
  letter-spacing: 0.02em;
  color: var(--optional-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* --------------------Hero-------------------- */
.hero {
  background-color: var(--background-color-secondary);
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(44 / 60);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}

.hero-button {
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--background-color);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: calc(16 / 30);
  border-radius: 4px;
}
.hero-button:hover {
  cursor: pointer;
  background-color: var(--background-color-hover);
}

/* -----------------Section-work-------------------- */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(36 / 42);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.feature-title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(14 / 16);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.feature-list .paragraph {
  font-size: 14px;
  line-height: calc(14 / 24);
  letter-spacing: 0.03em;
  color: var(--optional-text-color);
}

/* ----------------Section-command-------------- */
.title-command {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(16 / 19);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.command-paragraph {
  font-size: 16px;
  line-height: calc(16 / 19);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--optional-text-color);
}

.section-command {
  background-color: var(--buttons-bgc);
}
/* ------------------Footer---------------- */
.footer {
  background-color: var(--background-color-secondary);
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(26 / 31);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-color);
}

.address-location {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(14 / 24);
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.address-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(14 / 24);
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--background-color);
}

/* ----------------------PORTFOLIO------------------------ */
/* ----------------------Buttons-------------------- */
.portfolio-button {
  font-family: inherit;
  background-color: var(--buttons-bgc);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(16 / 26) x;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  cursor: pointer;
}

.portfolio-current-button {
  background-color: var(--accent-color);
  color: var(--background-color);
}
/* -----------------------Gallery---------------------- */
.portfolio-gallery {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: calc(16 / 30);
  letter-spacing: 0.03em;
  color: var(--optional-text-color);
}
